@import 'rese';



img {
    max-width: 100%;
    width: 100%;
}

.menu {
    display: flex;
    color: #6435a7;
    width: 80%;
    margin: 10px auto;
    border-top: 0.5em solid rgb(211, 194, 212);
    border-bottom: 0.5em solid rgb(211, 194, 212);
}


.menu a {
    align-items: center;
    color: inherit;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}


/* ALL MY CSS REGARDING THE WEBSITE */

#header-page {
    background-image: url(../img/microphone.jpg);
    background-color: #3c2955;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    vertical-align: center;
    text-transform: uppercase;
}

#header-page p {
    text-transform: uppercase;
}

#header-page a {
    color: #fff;
}

#headline-title {
    background: #fff;
    color: #6435a7;
    border-radius: 15px;
    font-size: 2em;
    padding: 10px;
    font-family: "roboto"
}

.headline {
    text-align: center;
    display: block;
    padding:70px 40px;
    width: 50%;
    margin: 0 auto;
    
}

.branding {

}

.headline p {
    font-weight: bolder;
}
.sub-headline-text {
    font-family: 'Permanent Marker', Helvetica, Arial, sans-serif;
}
.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.box {
    flex: 1;
    background: #3c2955;
    color: #fff;
    width: 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 5px 5px 10px rgb(67, 34, 121);
}

.box  {
    flex: 1;
}

/* MAIN FOOTER DESIGN STYES AND LAYOUT */
footer {
    background: #120e18;
    color: #fff;
    padding: auto;
}