/*RESET ALL DEFAULT BROWSER SETTINGS*/
@font-face{
    src: url('/assets/fonts/Kanji_PA.ttf');
    font-family: 'Kanji_PA';
  }



body {
    font-family: Arial, Helvetica, sans-serif; margin: 0; color: #666;
}

/*MAIN DESKTOP PC STYLES*/
header, footer {
    position: fixed;
    text-align: center;
    color: white;
    width: 100%;
}



#wrapper {
    display: flex;
}

.special-inner {
    background: rgb(168, 151, 168);
    border-bottom:solid black 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.special-inner h2 {
    font-size: 1.5em;
}

.special-inner p {
    text-align: center !important;
    padding: 20px;
    margin: 20px 20px;
    
}

.text-center {
    text-align: center !important;
    
}

.orange-button {
    background: orangered;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.orange-button:hover {
    background-color: white;
    color: orangered;
}


/*CLASS, ID, PSEUDO ELEMENT*/
#sidebar {
    width: 20px;
    height: 100%;
    background: rgb(0, 0, 0);
    padding: 10px;
}


.menu-close-bottom {
    position: fixed; bottom: 10px;
}
.material-icons {
    color: ivory;
}


.main-content {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background: #E9E9E9;
}


/* #topcenter { max-width: 990px; margin:auto;  position: relative; top: 5px; z-index: 1; } 
#topcenter img { float: right; margin-left: 10px; width: 30px; height: 30px; }
#liketop { float: right; margin-left: 10px; }

#header{position: relative; width: 100%; }
#logo{ width: 250px; height: 150px;  margin:auto; }
#top-f{position: absolute; right: 0px; top:5px; }
#top-mg{position: absolute; right: 30px; top:5px; }
#top-t{position: absolute; right: 0px; top:35px; }
#top-s{position: absolute; right: 30px; top:35px; }
#top-yt{position: absolute; right: 0px; top:65px; }
#top-yt2{position: absolute; right: 30px; top:65px; }
#top-insta{position: absolute; right: 0px; top:95px; }
#top-insta2{position: absolute; right: 30px; top:95px; }

#top-fl{position: absolute; left: 0px; top:5px; }
#top-mgl{position: absolute; left: 30px; top:5px; }
#top-tl{position: absolute; left: 0px; top:35px; }
#top-sl{position: absolute; left: 30px; top:35px; }
#top-ytl{position: absolute; left: 0px; top:65px; }
#top-ytl2{position: absolute; left: 30px; top:65px; }
#top-instal{position: absolute; left: 0px; top:95px; }
#top-instal2{position: absolute; left: 30px; top:95px; } */


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }